[submodule "distorm"]
	path = libs/distorm
	url = https://github.com/gdabah/distorm.git
[submodule "zydis"]
	path = libs/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "intelxed"]
	path = libs/intelxed
	url = https://github.com/intelxed/xed.git
[submodule "capstone"]
	path = libs/capstone
	url = https://github.com/aquynh/capstone.git
